{% extends 'molde.html'%}
{% block head %}
Gatos e Cachorros
{% endblock%}
{% block body %}
<div>
    <h2>5 Curiosidades sobre gatos e cachorros</h2>
    <p>Frase sobre gato 1: "{{respPoke.data[0]}}"</p>
    <p>Frase sobre cachorro 1: "{{respNovo.facts[0]}}"</p>
    <p>Frase sobre gato 2: "{{respPoke.data[1]}}"</p>
    <p>Frase sobre cachorro 2: "{{respNovo.facts[1]}}"</p>
    <p>Frase sobre gato 3: "{{respPoke.data[2]}}"</p>
    <p>Frase sobre cachorro 3: "{{respNovo.facts[2]}}"</p>
    <p>Frase sobre gato 4: "{{respPoke.data[3]}}"</p>
    <p>Frase sobre cachorro 4: "{{respNovo.facts[3]}}"</p>
    <p>Frase sobre gato 5: "{{respPoke.data[4]}}"</p>
    <p>Frase sobre cachorro 5: "{{respNovo.facts[4]}}"</p>
</div>
{% endblock %}


{% block p %} 
{% endblock %}